<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           ">

    <context:component-scan base-package="pl.edu.amu.lasuch.*"/>
    <tx:annotation-driven/>

    <bean id="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="tcp://localhost:61616"/>
            </bean>
        </property>
    </bean>
    
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>
    
    <bean id="productQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="productQueue"/>
    </bean>
    
    <bean id="solrUpdaterService" class="pl.edu.amu.lasuch.solrConnector.service.SolrUpdaterService">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>
    
    <bean class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="messageListener" ref="solrUpdaterService"/>
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="productQueue"/>
    </bean>
</beans>